.dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
    height: 100vh;
    background-color: #014246;
}

.topics {
    display: grid;
    grid-gap: 10px;
    height: 100vh;
    background-color: #014246;
}

.user-profile {
    display: grid;
    grid-gap: 10px;
    height: 100vh;
    background-color: #014246;
}

.mainPage {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar {
    display: grid;
    height: 86.5vh;
    justify-content: center;
    background-color: #d1fce9;
    border-radius: 5px;
    margin-top: 50px;
}

.nav {
    display: flex;
    flex-direction: column;
}

.nav button {
    margin: 10px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    color: #d1fce9;
    background-color: #014246;
}

.dashboard-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15rem;
}

.topics-content {
    display: grid;
    align-items: center;
    justify-self: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 24px
}

.dashboard-content button {
    background-color: #d1fce9;
    margin: 0 40px;
    border-radius: 10px;
}

.topics-content button {
    background-color: #d1fce9;
    margin: 0 40px;
    border-radius: 10px;
}

.top {
    display: flex;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 20px;
}

.top h2 {
    flex: 1;
    text-align: center;
    color: #d1fce9;
}

.top button {
    margin-left: 20px;
}

.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 40px;
    background-color: #d1fce9;
    border-radius: 20px;
}