.loginParent {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #014246;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signin-switch {
    color: #d1fce9;
}

.header {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    align-items: center;
    background-color: #d1fce9;
}

.title {
    flex: 1;
    text-align: center;
}

.authButton {
    margin-right: 20px;
}

.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 40px;
    background-color: #d1fce9;
    border-radius: 20px;
}

.loginForm input {
    margin-bottom: 20px;
}

.loginForm button {
    margin: 10px;
    cursor: pointer;
}

.footer {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: #d1fce9;
}